body { background: url('../img/pattern.gif'); }
.balls, .circles, .rounds { margin: 25px auto; width: 50%;}

/* BALLS Inverse rotate */

.ball1, .ball2 {
	background-color: rgba(0,0,0,0);
	border: 2px solid rgba(0,183,229,0.9);
	opacity: .9;
	border-top: 2px solid rgba(0,0,0,0);
	border-left: 2px solid rgba(0,0,0,0);
	margin: 0 auto;
}

.ball1 {
	border-radius: 50px;
	box-shadow: 0 0 35px #2187e7;
	width: 50px;
	height: 50px;
	-webkit-animation:spin .5s infinite linear;
}

.ball2 {
	border-radius: 30px;
	box-shadow: 0 0 15px #2187e7;
	width: 30px;
	height: 30px;
	position: relative;
	top: -45px;
	-webkit-animation:spinoff .5s infinite linear;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spinoff {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}

/* CIRCLES Android style */

.circle1, .circle2 {
	background-color: rgba(0,0,0,0);
	border: 2px solid rgba(0,183,229,0.9);
	opacity: .9;
	border-right: 2px solid rgba(0,0,0,0);
	border-left: 2px solid rgba(0,0,0,0);
	margin: 0 auto;
}

.circle1 {
	border-radius: 50px;
	box-shadow: 0 0 35px #2187e7;
	width: 50px;
	height: 50px;
    -webkit-animation: spinPulse 1s infinite linear;
}

.circle2 {
    border-radius: 30px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    position: relative;
    top: -45px;
    -webkit-animation: spinoffPulse 1s infinite linear;
}

@-webkit-keyframes spinPulse {
	0% {
		-webkit-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #2187e7;
	}
	50% {
		-webkit-transform: rotate(145deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-320deg);
		opacity: 0
	}
}

@-webkit-keyframes spinoffPulse {
    0% { -webkit-transform: rotate(0deg); }

    100% { -webkit-transform: rotate(360deg); }
}

/* ROUNDS Perso */

.round1, .round2 {
	background-color: rgba(0,0,0,0);
	border: 2px solid rgba(0,183,229,0.9);
	opacity: .5;
	margin: 0 auto;
}

.round1 {
	border-radius: 50px;
	box-shadow: 0 0 35px #2187e7;
	box-shadow: inset 0 0 15px #2187e7;
	border-right: 2px solid rgba(0,0,0,0);
	width: 50px;
	height: 50px;
	-webkit-animation:spin 1.2s infinite linear;
}

.round2 {
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
	border-left: 2px solid rgba(0,0,0,0);
    width: 50px;
    height: 50px;
    position: relative;
    top: -55px;
	-webkit-animation:spinoff 1s infinite linear;
}